{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "endOfLine": "lf",
  "printWidth": 120,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "tabWidth": 2,
  "useTabs": true
}